@use '@/styles/variables' as *;

.item {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    padding: 1rem 0.5rem;
    border: 1px solid transparent;
    transition: all 0.3s ease;

    &:hover {
        background-color: $bg-border;
        border-color: $primary-dark;
        border-radius: 8px;

        .name {
            color: $status-alive;
        }
    }
}

.imageWrapper {
    position: relative;

    .image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid $primary-muted;
    }

    .status {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $dark;
        position: absolute;
        right: 0px;
        bottom: 2px;
        border: 2px solid $bg-border;

        &.alive {
            background-color: $status-alive;
        }

        &.dead {
            background-color: $status-dead;
        }
    }

}

.info {
    display: flex;
    flex-direction: column;

    .name {
        font-weight: bold;
        color: $text-main;
    }

    .action {
        margin-top: 0.25rem;
        font-size: 0.875rem;
        color: $primary-muted;
    }
}
