@use "@/styles/variables" as *;

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spinnerContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.spinning {
    animation: spin 1.5s linear infinite;
    color: $primary !important;
}