@use '@/styles/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.empty {
    text-align: center;
    color: $primary-dark;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    margin-top: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .title {
        font-weight: $font-weight-bold;
        color: $primary-muted;
        margin-bottom: 2rem;
    }

    button {
        background-color: transparent;
        color: $primary-muted;
        transition: all 0.3s ease;
        height: fit-content;
        cursor: pointer;

        &:hover {
            color: $status-alive;
        }
    }
}

.list {
    display: flex;
    flex-direction: column;

    >li {
        list-style: none;
    }
}
